<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.member.dao.MemberMapper">
	<insert id="insertMember">
		INSERT INTO MEMBER
		(
			ID,
			ROLE,
			RATING,
			PRIVACY,
			EMAIL,
			NICKNAME,
			PASSWORD,
			INTRO,
			PROFILEIMG,
			STATUS,
			CREATEAT,
			UPDATEAT
		)
		VALUES
		(
			MEMBER_SEQ.NEXTVAL,
			#{role},
			111,
			'open',
			#{email},
			#{nickname},
			#{password},
			#{intro},
			#{profileImg},
			'confirm',
			SYSDATE,
			SYSDATE
		)
	</insert>
	
	<select id="findByEmail" resultType="com.todo.member.model.MemberDTO">
		SELECT 
			ID AS "id",
			ROLE AS "role",
			RATING AS "rating",
			PRIVACY AS "privacy",
			EMAIL AS "email",
			NICKNAME AS "nickname",
			PASSWORD AS "password",
			INTRO AS "intro",
			PROFILEIMG AS "profileImg",
			STATUS AS "status",
			CREATEAT AS "createat",
			UPDATEAT AS "updateat"
		FROM MEMBER
		WHERE EMAIL = #{email}
	</select>
	
</mapper>